## Importing libraries

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
df = pd.read_excel('energydata_complete.xlsx')

In [51]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

## Dropping 'lights' and 'date' columns

In [52]:
df.drop('lights',axis = 1, inplace = True)

In [53]:
df.drop('date',axis = 1, inplace = True)

## Scaling the Data Set

In [54]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(data = scaler.fit_transform(df), columns = df.columns)

normalized_df.head(10)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
5,0.037383,0.32735,0.522980,0.225345,0.675883,0.215188,0.755569,0.341441,0.771233,0.172320,...,0.219563,0.667357,0.354234,0.109302,0.894737,0.380952,0.658974,0.515837,0.898441,0.898441
6,0.046729,0.32735,0.515824,0.225345,0.675883,0.215188,0.754012,0.341441,0.773794,0.169135,...,0.219563,0.667357,0.350482,0.111628,0.894737,0.357143,0.600000,0.511312,0.944735,0.944735
7,0.046729,0.32383,0.510137,0.225345,0.675883,0.210203,0.754012,0.341441,0.776924,0.169135,...,0.219563,0.667357,0.351018,0.113178,0.892544,0.369048,0.600000,0.510558,0.660808,0.660808
8,0.046729,0.31679,0.511169,0.225345,0.674009,0.210203,0.748871,0.341441,0.773794,0.175506,...,0.219563,0.667357,0.351554,0.114729,0.890351,0.380952,0.600000,0.509804,0.629118,0.629118
9,0.056075,0.32383,0.524723,0.227526,0.673072,0.215188,0.752298,0.341441,0.786883,0.169135,...,0.219563,0.667357,0.352090,0.116279,0.888158,0.392857,0.600000,0.509050,0.061691,0.061691

In [55]:
normalized_df.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

## Linear Regression on the 'T2' and 'T6' columns

In [56]:
from sklearn.model_selection import train_test_split
X_1 = np.array(normalized_df['T2']).reshape(-1,1)
y_1 = np.array(normalized_df['T6']).reshape(-1,1)

X_1_train,X_1_test,y_1_train,y_1_test = train_test_split(X_1,y_1,test_size = 0.3, random_state = 42)

In [57]:
X_1

array([[0.22534529],
       [0.22534529],
       [0.22534529],
       ...,
       [0.69265118],
       [0.67705355],
       [0.66617051]])

In [58]:
lin_reg = LinearRegression()
lin_reg.fit(X_1_train, y_1_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [59]:
y_pred = lin_reg.predict(X_1_test)

## Calculating the coefficient of determination

In [24]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


print('r2_score:', round(r2_score(y_1_test,y_pred),2))

r2_score: 0.64

## Linear Regression on the entire Data set

In [60]:
X = normalized_df.drop('Appliances',axis = 1)
y = normalized_df['Appliances']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [61]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Evaluating the model performance

In [42]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
y_pred = model.predict(X_test)
print('Residual Sum of Squares:', round(np.sum(np.square(y_test - y_pred)),2))
print('Mean Absolute Error:', round(mean_absolute_error(y_test,y_pred),2))
print('Mean Squared Error:', mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,y_pred)))
print('r2_score:', round(r2_score(y_test,y_pred),2))

Residual Sum of Squares: 45.35
Mean Absolute Error: 0.05
Mean Squared Error: 0.007658778867195369
Root Mean Squared Error: 0.08751444947661711
r2_score: 0.15

In [63]:
model_weights = pd.DataFrame(model.coef_, X_train.columns, columns = ['Weights']).sort_values(by = 'Weights')

In [64]:
model_weights

              Weights
RH_2        -0.456698
T_out       -0.321860
T2          -0.236178
T9          -0.189941
RH_8        -0.157595
RH_out      -0.077671
RH_7        -0.044614
RH_9        -0.039800
T5          -0.015657
T1          -0.003281
rv2          0.000770
rv1          0.000770
Press_mm_hg  0.006839
T7           0.010319
Visibility   0.012307
RH_5         0.016006
RH_4         0.026386
T4           0.028981
Windspeed    0.029183
RH_6         0.038049
RH_3         0.096048
T8           0.101995
Tdewpoint    0.117758
T6           0.236425
T3           0.290627
RH_1         0.553547

## Ridge Regression on the Data Set

In [65]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

## Evaluating the model performance

In [66]:
ridge_pred = ridge_reg.predict(X_test)

In [67]:
print('Residual Sum of Squares:', round(np.sum(np.square(y_test - ridge_pred)),2))
print('Mean Absolute Error:', round(mean_absolute_error(y_test,ridge_pred),2))
print('Mean Squared Error:', mean_squared_error(y_test,ridge_pred))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,ridge_pred)))
print('r2_score:', round(r2_score(y_test,ridge_pred),2))

Residual Sum of Squares: 45.37
Mean Absolute Error: 0.05
Mean Squared Error: 0.007662176129398591
Root Mean Squared Error: 0.08753385704628006
r2_score: 0.15

## Lasso Regression on the Data Set

In [68]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

## Evaluating the model performance

In [69]:
lasso_pred = lasso_reg.predict(X_test)

In [70]:
lasso_weights = pd.DataFrame(lasso_reg.coef_, X_train.columns, columns = ['Weights']).sort_values(by = 'Weights')

In [71]:
lasso_weights

              Weights
RH_out      -0.049557
RH_8        -0.000110
T1           0.000000
Tdewpoint    0.000000
Visibility   0.000000
Press_mm_hg -0.000000
T_out        0.000000
RH_9        -0.000000
T9          -0.000000
T8           0.000000
RH_7        -0.000000
rv1         -0.000000
T7          -0.000000
T6           0.000000
RH_5         0.000000
T5          -0.000000
RH_4         0.000000
T4          -0.000000
RH_3         0.000000
T3           0.000000
RH_2        -0.000000
T2           0.000000
RH_6        -0.000000
rv2         -0.000000
Windspeed    0.002912
RH_1         0.017880

In [72]:
print('Root Mean Squared Error:',round(np.sqrt(mean_squared_error(y_test,lasso_pred)),3))

Root Mean Squared Error: 0.094